data/
*/__pycache__/
*.pyc
logs/
*.log
*.exr
best/
wandb/
*.ckpt
best_sigmoid/
*.pth
predictions/
smplx2smpl/
*.zip
output/
*.bmp
*.csv
.DS_Store
/demo_images/
*.cmake
ros2_ws/install
ros2_ws/build
ros2_ws/logs
ros2_ws/log/COLCON_IGNORE
ros2_ws/log/latest
ros2_ws/log/latest_build
